.profile-container {
  max-width: 700px;
  min-width: 700px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 100px;
}

.profile-header {
  height: 280px;
  width: 600px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  background-color: #72BF78;
  border-radius: 20px;
}

.profile-header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: contain;
  background-color: white;
  border: 1px solid black;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-info p {
  font-size: 18px;
  color: black;
}

.profile-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.profile-fields label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: black;
}

.profile-fields input {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.profile-fields button {
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.purchases {
  margin-top: 20px;
}

.purchases h2 {
  margin-bottom: 20px;
}

.purchases-container {
  display: flex;
  width: 630px;
  flex-direction: column;
  max-height: 240px;
  overflow-y: auto;
  gap: 20px;
  padding-right: 10px;
}

.purchase-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  background-color: #C0D9A6;
  gap: 15px;
  width: 600px;
  box-sizing: border-box;
}

.purchase-date {
  font-weight: bold;
}

.plant-names {
  margin-top: 5px;
}

.purchase-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.purchase-price {
  font-weight: bold;
  margin-left: auto;
  white-space: nowrap;
}

.no-purchases {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #888;
}
